.container {
  display: flex;
  gap: 24px;
  margin: 0px 14px;
  flex-direction: column;
  color: var(--white);
  border-radius: 32px;
  background-color: #1f1f1f;
  padding: var(--section_padding);
}

.content {
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.content h2 {
  line-height: 41px;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 73px;
}

.content p {
  font-size: 18px;
  line-height: 32px;
}

.media img {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .container {
    gap: 72px;
    flex-direction: row;
  }

  .content,
  .media {
    width: 50%;
  }

  .content h2 {
    font-size: 33px;
    line-height: 61px;
    margin-bottom: 32px;
  }
}
