.container {
  height: 281px;
  position: relative;
}

.background_image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0px 0px 10px 10px;
}

.container h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 36px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
    height: 598px;
  }

  .background_image {
    border-radius: 0;
  }

  .container h1 {
    font-size: 91px;
  }
}
