.container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 0px 12px 23px 12px;
}

.story {
  display: flex;
  gap: 0rem 2rem;
  align-items: center;
  padding: 32px;
  border-radius: 40px;
  background-color: #f8f8f0;
}

.story h2 {
  flex: 1;
  font-size: 24px;
}

.story p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}

.story p:last-child {
  margin-bottom: 0px;
}

.selected_story {
  flex-direction: column;
  align-items: flex-start;
}

.content {
  display: none;
  margin-top: 29px;
}

.selected_story .content {
  display: block;
}

.image {
  display: flex;
  width: 100px;
}

.image img {
  width: 100%;
  height: auto;
}

.hide_image {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    margin: 0px 19px;
    margin-bottom: 47px;
  }

  .story {
    min-height: 271px;
    position: relative;
    padding: 48px 32px;
    border-radius: 70px;
    justify-content: space-between;
  }

  .story h2 {
    font-size: 43px;
  }

  .content {
    margin-top: 40px;
  }

  .community_title {
    max-width: 20rem;
  }

  .image {
    position: absolute;
    width: 19.5rem;
    bottom: 24px;
    right: 32px;
  }
}
