.container {
  display: flex;
  gap: 24px;
  margin: 24px;
  flex-direction: column;
}

.story {
  padding: 32px;
  border-radius: 40px;
  background-color: #f8f8f0;
}

.story h2 {
  font-size: 40px;
}

.content {
  display: none;
  margin-top: 40px;
}

.show_content {
  display: block;
}

.story p {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.story p:last-child {
  margin-bottom: 0px;
}

.image {
  display: flex;
}

.image img {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.hide_image {
  display: none;
}

@media (min-width: 1024px) {
  .story {
    position: relative;
    padding: 48px 32px;
    border-radius: 70px;
  }

  .story h2 {
    font-size: 63px;
  }

  .image {
    position: absolute;
    width: 9rem;
    bottom: 24px;
    right: 32px;
  }

  .mission_image {
    width: 15rem;
  }
}
