.alert {
  position: fixed;
  right: 50%;
  top: -45px;
  z-index: 11;
  width: max-content;
  border-radius: 8px;
  padding: 8px 14px;
  font-family: var(--inter);
  transform: translateX(50%);
  transition: all ease-out 250ms;
}

.show_alert {
  top: 1rem;
}

.failed {
  background-color: red;
}

.success {
  background-color: green;
}

.alert p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
