.container {
  position: relative;
  margin: 0px 16px;
  min-height: 310px;
  display: flex;
  align-items: center;
}

.content {
  padding: 32px;
  position: relative;
}

.content h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 20px;
}

.content p {
  font-size: 14px;
  margin-bottom: 46px;
  color: var(--white);
}

.background_image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  border-radius: 16px;
}

@media (min-width: 1024px) {
  .container {
    min-height: 494px;
    margin: 0px 32px;
  }

  .content {
    max-width: 75%;
  }

  .content h2 {
    font-size: 60px;
  }

  .content p {
    font-size: 21px;
  }

  .background_image {
    border-radius: 20px;
  }
}
