.container {
  position: relative;
  padding: 32px;
  margin: 0px 32px;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/layout/call-to-action-bg.jpg');
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right,
    var(--black),
    rgba(255, 255, 255, 0)
  );
}

.content {
  z-index: 2;
  position: relative;
}

.container h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 20px;
}

.container p {
  font-size: 14px;
  margin-bottom: 46px;
  color: var(--white);
}

.services_button {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  color: var(--white);
  background-color: var(--black);
}

.services_button svg {
  margin-left: 1rem;
  font-size: 1.25rem;
}

@media (min-width: 1024px) {
  .container h2 {
    font-size: 60px;
  }
}
