.container {
  padding: var(--section_padding);
  margin: 2rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/layout/become-host.jpg');
}

.container h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
}

.container p {
  margin-bottom: 1.5rem;
  color: var(--white);
}

.services_button {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  color: var(--white);
  background-color: var(--black);
}

.services_button svg {
  margin-left: 1rem;
  font-size: 1.25rem;
}

@media (min-width: 1024px) {
  .container {
    margin: 2rem 4rem;
  }

  .container h2 {
    font-size: 60px;
  }
}
