.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--black);
}

.logo {
  margin-bottom: 72px;
}

@media (min-width: 1024px) {
  .container {
    border-radius: 0px;
  }
}
