.container {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    padding: 14px 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .with_dark_background {
    border-radius: 10px;
    background-color: #1e1e1e;
  }

  .navigation {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .nav_link,
  .management {
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
  }

  .management_title:hover,
  .nav_link:hover {
    font-weight: 700;
  }

  .nav_link.active {
    border-bottom: 1px solid var(--black);
  }

  .management {
    position: relative;
    cursor: pointer;
    padding: 10px 0px;
  }

  .popup {
    display: none;
    position: absolute;
    top: 38px;
    left: -100px;
    z-index: 1;
    width: 600px;
  }

  .str_ltr {
    display: flex;
    gap: 27px;
    flex-direction: column;
    height: 265px;
    border-radius: 10px 0px 0px 10px;
    padding: 32px;
    background-color: var(--white);
  }

  .str_ltr a {
    display: flex;
    gap: 33px;
    color: var(--black);
  }

  .str_ltr a .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 2px;
  }

  .str_ltr a .description {
    font-size: 13px;
    font-weight: 400;
  }

  .str_ltr a img {
    width: 56px;
    height: 58px;
  }

  .others {
    display: flex;
    gap: 16px;
    flex-direction: column;
    height: 265px;
    width: 325px;
    border-radius: 0px 10px 10px 0px;
    padding: 32px;
    background-color: #f8f8f8;
  }

  .others a {
    font-weight: 400;
    font-size: 13px;
    color: var(--black);
  }

  .management:hover .popup {
    display: flex;
  }

  .sign_in {
    color: var(--white);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    background-color: var(--white);
  }

  .black_sign_in {
    background-color: var(--black);
  }

  .yellow_sign_in {
    color: var(--black);
    background-color: #e7ff56;
  }

  .user_image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .is_dark_background .nav_link,
  .is_dark_background .management {
    color: var(--white);
  }

  .is_dark_background .nav_link.active {
    border-bottom: 1px solid var(--white);
  }

  .show_logo_only .navigation,
  .show_logo_only .sign_in {
    display: none;
  }
}

@media (min-width: 1440px) {
  .navigation {
    gap: 68px;
  }

  .popup {
    width: 665px;
  }
}
