.container {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation a,
  .management {
    font-size: 14px;
    margin: 0rem 1rem;
    color: var(--black);
    font-weight: 500;
  }

  .navigation a.active {
    border-bottom: 1px solid var(--black);
  }

  .management {
    position: relative;
    cursor: pointer;
    padding: 10px 0px;
  }

  .popup {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    width: max-content;
    border-radius: 4px;
    background-color: var(--border_color);
  }

  .popup:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent var(--border_color);
  }

  .popup a {
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid var(--white);
  }

  .management:hover .popup {
    display: flex;
    flex-direction: column;
  }

  .sign_in {
    color: var(--white);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    background-color: var(--green);
  }

  .black_sign_in {
    background-color: var(--black);
  }

  .is_dark_background .navigation a,
  .is_dark_background .management {
    color: var(--white);
  }

  .is_dark_background .popup {
    background-color: var(--white);
  }

  .is_dark_background .popup a {
    color: var(--black);
    border-bottom: 1px solid var(--border_color);
  }

  .is_dark_background .popup::before {
    border-color: transparent transparent var(--white);
  }

  .popup a:last-child {
    border: none;
  }

  .is_dark_background .navigation a.active {
    border-bottom: 1px solid var(--white);
  }

  .is_dark_background .sign_in {
    color: var(--black);
    background-color: var(--white);
  }

  .show_logo_only .navigation,
  .show_logo_only .sign_in {
    display: none;
  }
}
