.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.navigation a {
  margin: 0rem 1rem;
  color: var(--white);
  font-size: 14px;
}

.navigation a.active {
  border-bottom: 1px solid var(--white);
}

.sign_in {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--green);
}

.navigation svg {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
