.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 32px;
}

.container p {
  display: inline-block;
}

@media (min-width: 1024px) {
  .container {
    padding: 72px 48px;
  }
}
