.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.container a {
  display: flex;
  align-items: center;
  padding: 16px 27px;
  font-size: 19px;
  font-weight: 600;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--black);
}

.container a img {
  width: 28px;
  height: 28px;
  margin-left: 16px;
}
