.container {
  padding: 2rem;
  color: var(--white);
  background-color: var(--black);
}

.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo_and_socials {
  text-align: center;
}

.socials {
  margin-top: 1rem;
}

.socials a {
  color: var(--white);
  padding: 0.25rem 0.5rem;
}

.socials a svg {
  font-size: 1.25rem;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation p {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.navigation a {
  color: var(--white);
  font-size: 12px;
  padding: 0.25rem;
}

.apps {
  display: flex;
  flex-direction: column;
}

.apps img {
  width: 10rem;
  height: auto;
}

.copyright {
  font-size: 12px;
  text-align: center;
}
