.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  color: var(--white);
  border-radius: 30px;
  background-color: var(--black);
}

.socials {
  margin-top: 1rem;
}

.socials a {
  color: var(--white);
  padding: 0.25rem 0.5rem;
}

.socials a svg {
  font-size: 1.25rem;
}

@media (min-width: 1024px) {
  .container {
    border-radius: 0px;
  }
}
