.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  color: var(--white);
  background-color: var(--black);
}

.socials {
  margin-top: 1rem;
}

.socials a {
  color: var(--white);
  padding: 0.25rem 0.5rem;
}

.socials a svg {
  font-size: 1.25rem;
}
