.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--radius);
  background-image: var(--background_image);
}

.container h1 {
  font-size: 40px;
  color: var(--white);
  text-align: center;
  padding: 4rem 0rem 7rem 0rem;
}

@media (min-width: 1024px) {
  .container h1 {
    font-size: 91px;
  }
}
