.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  font-size: 19px;
  color: var(--white);
  font-weight: 600;
  background-color: var(--black);
}

.container:hover {
  color: var(--white);
  text-decoration: none;
}

.icon svg {
  margin-left: 1rem;
}

.reversed {
  flex-direction: row-reverse;
}

.reversed.icon svg {
  margin-left: 0rem;
  margin-right: 1rem;
}
