.container {
  position: fixed;
  width: 90vw;
  height: 100%;
  top: 0;
  left: -150%;
  z-index: 11;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 200ms;
  background: var(--white);
}

.container.open {
  left: 0%;
  transition: ease-out 200ms;
}

.close_icon {
  font-size: 20px;
  margin-bottom: 15px;
  align-self: flex-end;
}

.sign_in {
  color: var(--white);
  font-size: 19px;
  padding: 16px;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--black);
  margin-bottom: 30px;
}

.nav_items {
  flex: 1;
  display: flex;
  gap: 28px;
  flex-direction: column;
  padding: 30px 18px;
  border-top: 1px solid var(--border_color);
}

.nav_items a {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

@media (min-width: 414px) {
  .container {
    padding-bottom: 42px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: none;
  }
}
