.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 2px;
  background-color: var(--black);
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.line::before {
  transform: translateY(-4px);
}

.line::after {
  transform: translateY(4px);
}

.is_dark_background {
  background-color: var(--white);
}

.is_dark_background::before,
.is_dark_background::after {
  background-color: var(--white);
}

@media (min-width: 768px) {
  .container {
    display: none;
  }
}
