.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 16px;
  width: fit-content;
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: var(--black);
}

.icon svg {
  font-size: 21px;
  margin-left: 1rem;
}

.reversed {
  flex-direction: row-reverse;
}

.reversed.icon svg {
  margin-left: 0rem;
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  .container {
    font-size: 19px;
    padding: 20px 36px;
  }

  .icon svg {
    margin-left: 2.5rem;
  }

  .reversed.icon svg {
    margin-left: 0rem;
    margin-right: 2.5rem;
  }
}
