.container {
  background-color: #f7f7f7;
  padding: var(--section_padding);
}

.content {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.content h2 {
  font-size: var(--h2_size);
  font-weight: 600;
  margin-bottom: 16px;
}

.input_and_button {
  display: flex;
  flex-direction: column;
}

.input_and_button input {
  padding: 10px 14px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--black);
}

@media (min-width: 1024px) {
  .content {
    display: flex;
    gap: 4rem;
  }

  .content img {
    width: 40%;
    object-fit: contain;
  }

  .content h2 {
    margin-bottom: 36px;
  }

  .input_and_button {
    flex-direction: row;
  }

  .input_and_button input {
    min-width: 70%;
    margin-bottom: 0rem;
    margin-right: 0.5rem;
  }
}
