.container {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-bottom: 0rem;
  color: var(--white);
  background-color: var(--green);
}

.header {
  align-self: center;
  max-width: 90%;
  text-align: center;
  margin-bottom: 2rem;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe img {
  width: 40%;
  height: auto;
}

.subscribe form {
  width: 40%;
}

.subscribe form h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.subscribe_inputs {
  position: relative;
  display: flex;
}

.subscribe input {
  font-size: 1rem;
  padding: 12px 24px;
}

.subscribe input[type='email'] {
  width: 80%;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 2rem 0rem 0rem 2rem;
}

.subscribe input[type='email']::placeholder {
  color: var(--white);
}

.subscribe input[type='submit'] {
  position: absolute;
  border-radius: 2rem;
  right: 1rem;
  top: 50%;
  translate: 0% -50%;
  font-weight: 500;
  padding: 13px 24px;
  cursor: pointer;
}
