.container {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 72px 32px;
}

.header h2 {
  font-size: var(--h2_size);
  font-weight: 600;
  margin-bottom: 26px;
}

.header p {
  font-size: 14px;
}

.property_evaluation {
  padding: 2rem;
  border-radius: 50px;
  background-color: #d1faca;
}

.property_evaluation form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 30px;
  max-width: 1240px;
  margin: 0 auto;
  background-color: var(--white);
}

.property_evaluation form h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 34px;
}

.evaluation_inputs {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}

.evaluation_input {
  display: flex;
  flex-direction: column;
}

.evaluation_input label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.evaluation_input input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border_color);
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    gap: 5rem;
    padding: 120px 32px;
  }

  .header h2 {
    width: 30%;
  }

  .header p {
    width: 70%;
    font-size: 24px;
    line-height: 32px;
  }

  .property_evaluation {
    padding: 4rem;
  }

  .property_evaluation form h3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 72px;
  }

  .evaluation_inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .evaluation_input label {
    font-size: 18px;
  }
}
