.container {
  padding: var(--section_padding);
}

.services {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  margin-bottom: 72px;
}

.service {
  padding: 24px;
  display: flex;
  align-items: flex-start;
}

.service:hover {
  background-color: #d1faca;
}

.service img {
  width: 24px;
  margin-right: 1rem;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.description {
  line-height: 20px;
  font-size: 18px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  .services {
    margin-bottom: 112px;
    grid-template-columns: repeat(2, 1fr);
  }

  .service {
    padding: 24px 32px;
  }
}
