.submit_button {
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  padding: 19px;
  border-radius: 0.5rem;
  color: var(--white);
  font-family: 'PP Mori', sans-serif;
  background-color: var(--black);
}
