.submit_button {
  border: none;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.75rem 1rem;
  color: var(--white);
  background-color: var(--black);
}
