.container {
  padding: 4rem;
  padding-bottom: 0rem;
}

.container h2 {
  text-align: center;
  font-weight: 500;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos img {
  width: 12rem;
  height: auto;
}
