.container {
  padding: var(--section_padding);
}

.container h2 {
  font-size: var(--h2_size);
  font-weight: 600;
  margin-bottom: 34px;
}

@media (min-width: 1024px) {
  .container h2 {
    margin-bottom: 48px;
  }
}
