.container {
  padding: 50px 21px;
}

.container h2 {
  font-size: var(--h2_size);
  font-weight: 600;
  margin-bottom: 34px;
}

.article_cards {
  display: flex;
  gap: 22px;
  overflow-x: auto;
}

.article_cards::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    padding: 70px 0px 35px 56px;
  }

  .container h2 {
    margin-bottom: 48px;
  }
}
