.container {
  padding: var(--section_padding);
  background-color: #f7f7f7;
}

.container h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.question_and_answer {
  width: 100%;
  padding: 1rem 0rem;
  border-bottom: 1px solid #dadada;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.question svg {
  cursor: pointer;
}

.answer {
  margin-top: 8px;
  line-height: 32px;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 3rem;
  }

  .container h2 {
    width: 50%;
    font-size: 63px;
  }

  .questions_and_answers {
    width: 50%;
  }
}
