.container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  margin-bottom: 22px;
}

.header {
  margin-bottom: 30px;
}

.header h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.header p {
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
}

.explore_properties_container {
  padding: 0px 16px;
}

@media (min-width: 1024px) {
  .container {
    padding: 0px 45px;
    margin-bottom: 77px;
  }

  .header {
    margin-bottom: 44px;
  }

  .container h2 {
    font-size: 48px;
  }
}
