.container {
  display: flex;
  flex-direction: column;
  padding: var(--section_padding);
}

.container h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
}

.explore_text {
  font-size: 24px;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .container h2 {
    font-size: 63px;
  }
}
