.container {
  margin-bottom: 36px;
}

.desktop {
  display: none;
}

.mobile {
  position: relative;
}

.search {
  width: 100%;
  padding: 0px 18px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_cta {
  display: flex;
  flex-direction: column;
  min-height: 386px;
  padding: 55px 23px;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(140deg, #d1faca, #cafaf800);
}

.mobile_cta span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 19px;
}

.mobile_cta p {
  font-size: 46px;
  font-weight: 500;
  line-height: 47px;
  margin-bottom: 23px;
}

@media (min-width: 1024px) {
  .container {
    position: relative;
    margin-bottom: 60px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    gap: 45px;
    align-items: center;
    padding: 50px 58px;
    justify-content: space-between;
  }

  .content {
    width: 65%;
  }

  .header {
    position: relative;
    margin-bottom: 60px;
  }

  .header h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--pp_mori);
  }

  .header p {
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
    width: 75%;
  }

  .promo_image {
    position: absolute;
    width: 148px;
    height: 76px;
    bottom: 0;
    right: 0;
  }

  .search {
    padding: 23px 37px;
    border-radius: 19px;
    background-color: #d1faca;
  }

  .desktop_cta_and_search_types {
    width: 100%;
    margin-bottom: 29px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .desktop_cta {
    flex: 1;
  }

  .desktop_cta_title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .desktop_cta_subtitle {
    font-size: 15px;
    font-weight: 500;
    line-height: 31px;
  }

  .background_image {
    width: 35%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-bottom: 126px;
  }

  .content {
    width: 744px;
  }

  .header {
    margin-bottom: 111px;
  }

  .header h1 {
    font-size: 66px;
  }

  .promo_image {
    width: 185px;
    height: 95px;
  }

  .desktop_cta_and_search_types {
    gap: 88px;
  }

  .desktop_cta_title {
    font-size: 36px;
  }

  .background_image {
    width: 550px;
  }
}
