.container {
  position: relative;
  margin-bottom: 20px;
}

.search {
  width: 100%;
  padding: 32px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_types {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.vacation,
.rent,
.buy {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--black);
}

.vacation {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--black);
}

.vacation img,
.rent img,
.buy img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.search_types p {
  font-size: 14px;
  font-weight: 500;
}

.cta {
  height: 490px;
  padding: 52px 32px;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(140deg, #d1faca, #cafaf800);
}

.title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 18px;
}

.description {
  font-size: 18px;
  font-weight: 600;
}

.hero_image {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 38.5rem;
  translate: -50%;
}

.image_container {
  height: 293px;
  position: relative;
}

.image_container img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
}

.image_container p {
  padding: 0rem 1rem;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  left: 50%;
  bottom: 10%;
  translate: -50%;
  width: 100%;
  color: var(--white);
  text-align: center;
}

.image_container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
  .container {
    height: 718px;
    margin-bottom: 358px;
    border-radius: 0rem 0rem 1rem 1rem;
    background-image: linear-gradient(140deg, #d1faca, #cafaf800);
  }

  .search_and_cta {
    padding: 6rem 2rem;
  }

  .search_types {
    gap: 3rem;
  }

  .cta {
    padding: 0px;
    height: fit-content;
    background-image: none;
  }

  .title {
    font-size: 56px;
  }

  .hero_image {
    width: 90%;
    top: 33.5rem;
  }

  .image_container {
    height: 526px;
  }

  .image_container p {
    font-size: 46px;
  }

  .image_container img,
  .image_container::before {
    border-radius: 31px;
  }
}
