.container {
  position: relative;
  margin-bottom: 3rem;
}

.search {
  width: 100%;
  padding: 32px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_types {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.vacation,
.rent,
.buy {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--black);
}

.vacation {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--black);
}

.vacation img,
.rent img,
.buy img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.search_types p {
  font-size: 14px;
  font-weight: 500;
}

.cta {
  height: 350px;
  padding: 32px;
  text-align: center;
  border-radius: 30px;
  background-image: linear-gradient(140deg, #d1faca, #cafaf800);
}

.title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 18px;
}

.description {
  font-size: 18px;
  font-weight: 600;
}

.hero_image {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 35rem;
  translate: -50%;
}

.hero_image_container {
  position: relative;
  height: 200px;
}

.hero_image_container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.hero_image_container p {
  padding: 0rem 1rem;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  left: 50%;
  bottom: 10%;
  translate: -50%;
  width: 100%;
  color: var(--white);
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
    margin-bottom: 8rem;
    border-radius: 0rem 0rem 1rem 1rem;
    background-image: linear-gradient(140deg, #d1faca, #cafaf800);
  }

  .search_and_cta {
    padding: 6rem 2rem;
  }

  .search_types {
    gap: 3rem;
  }

  .cta {
    padding: 0px;
    background-image: none;
  }

  .title {
    font-size: 56px;
  }

  .hero_image_container {
    height: 400px;
  }

  .hero_image_container p {
    font-size: 46px;
  }
}
