.container {
  position: relative;
  margin-bottom: 4rem;
  border-radius: 0rem 0rem 1rem 1rem;
  background-image: linear-gradient(140deg, #d1faca, #cafaf800);
}

.search_and_cta {
  padding: 4rem 2rem 8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.search_types {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.vacation,
.rent,
.buy {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--black);
}

.vacation {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--black);
}

.vacation,
.rent {
  margin-right: 3rem;
}

.vacation img,
.rent img,
.buy img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.search_types p {
  font-size: 14px;
  font-weight: 500;
}

.cta {
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 18px;
}

.description {
  font-size: 18px;
  font-weight: 600;
}

.hero_image {
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: -10%;
  translate: -50%;
}

.hero_image_container {
  position: relative;
}

.hero_image_container img {
  width: 100%;
  height: auto;
}

.hero_image_container p {
  padding: 0rem 1rem;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  left: 50%;
  bottom: 10%;
  translate: -50%;
  width: 100%;
  color: var(--white);
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
    margin-bottom: 20rem;
  }

  .search_and_cta {
    padding: 6rem 2rem 13rem 2rem;
  }

  .title {
    font-size: 56px;
  }

  .hero_image {
    bottom: -45%;
  }

  .hero_image_container p {
    font-size: 46px;
  }
}
