.container {
  position: relative;
  padding: 3rem 4rem;
  margin-bottom: 4rem;
  border-radius: 0rem 0rem 1rem 1rem;
  background-image: linear-gradient(140deg, #d1faca, #cafaf800);
}

.search_and_cta {
  padding: 6rem 0rem 8rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.search_types {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.vacation,
.rent,
.buy {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  cursor: pointer;
}

.vacation,
.rent {
  margin-right: 3rem;
}

.vacation img,
.rent img,
.buy img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.search_types p {
  font-size: 14px;
  font-weight: 500;
}

.selected {
  border-bottom: 2px solid var(--black);
}

.search_field {
  position: relative;
}

.search_field input[type='text'] {
  padding: 1rem 1rem 1rem 3.5rem;
  border-radius: 2rem;
  min-width: 45rem;
  font-size: 18px;
  background-color: var(--white);
  box-shadow: 0px 0px 6px 1px #bfbfbf;
}

.search_field input[type='submit'] {
  position: absolute;
  right: 6px;
  top: 50%;
  translate: 0% -50%;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  color: var(--white);
  border-radius: 2rem;
  padding: 9px 20px;
  background-color: var(--black);
}

.search_field svg {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  top: 50%;
  translate: 0% -50%;
  cursor: pointer;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.description {
  font-size: 18px;
  font-weight: 600;
}

.hero_image {
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: -45%;
  translate: -50%;
}

.hero_image_container {
  position: relative;
}

.hero_image_container img {
  width: 100%;
  height: auto;
}

.hero_image_container p {
  position: absolute;
  font-size: 46px;
  font-weight: 600;
  left: 50%;
  bottom: 10%;
  translate: -50%;
  width: 100%;
  color: var(--white);
  text-align: center;
}
