.container {
  background-color: #f7f7f7;
  padding: var(--section_padding);
}

.content {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 63px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.input_and_button {
  display: flex;
}

.input_and_button input {
  padding: 10px 14px;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid var(--black);
}

@media (min-width: 1024px) {
  .content {
    display: flex;
    gap: 3rem;
  }

  .content img {
    width: 50%;
    object-fit: contain;
  }

  .input_and_button {
    width: 50%;
  }
}
