.container {
  margin-bottom: 65px;
}

.container h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 26px;
}

.container p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .container {
    width: 40%;
    margin-bottom: 0px;
  }

  .container h2 {
    font-size: 53px;
  }

  .container p {
    font-size: 24px;
  }
}
