.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: var(--section_padding);
}

.properties {
  display: flex;
  gap: 22px;
  overflow-x: auto;
}

.properties::-webkit-scrollbar {
  display: none;
}

.property {
  height: 507px;
  min-width: 323px;
  position: relative;
}

.property img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.property::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.name_and_price {
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
}

.name {
  margin-bottom: 11px;
}

.price {
  padding: 10px;
  display: inline-block;
  border-radius: 12px;
  font-weight: 400;
  border: 1px solid var(--white);
}

@media (min-width: 1024px) {
  .container {
    gap: 4rem;
    flex-direction: row;
  }

  .properties {
    gap: 28px;
    width: 60%;
    flex-direction: row;
  }

  .property img {
    height: 100%;
  }
}
