.container h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 26px;
}

.container p {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 32px;
}

@media (min-width: 1024px) {
  .container {
    width: 40%;
  }

  .container h2 {
    font-size: 63px;
  }
}
