.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: var(--section_padding);
}

.container h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 26px;
}

.content_and_properties {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.content p {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 32px;
}

.properties {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.property {
  position: relative;
}

.property img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.name_and_price {
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.name {
  margin-bottom: 16px;
}

.price {
  padding: 2px 8px;
  display: inline-block;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .container h2 {
    font-size: 63px;
  }

  .content_and_properties {
    gap: 3rem;
    align-items: center;
    flex-direction: row;
  }

  .content {
    width: 40%;
  }

  .properties {
    width: 60%;
    flex-direction: row;
  }

  .property img {
    height: 100%;
  }
}
