.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: var(--section_padding);
}

.properties {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.property {
  position: relative;
}

.property img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.property::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.name_and_price {
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.name {
  margin-bottom: 16px;
}

.price {
  padding: 2px 8px;
  display: inline-block;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
}

@media (min-width: 1024px) {
  .container {
    gap: 4rem;
    flex-direction: row;
  }

  .properties {
    width: 60%;
    flex-direction: row;
  }

  .property img {
    height: 100%;
  }
}
