.container {
  color: var(--black);
}

.image_and_icons {
  position: relative;
  margin-bottom: 1rem;
}

.image_and_icons img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.featured {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

.featured p {
  padding: 0.25rem 0.75rem;
  font-size: 12px;
  border-radius: 0.25rem;
  background-color: var(--white);
}

.featured svg {
  margin-left: 0.5rem;
  color: var(--white);
  font-size: 1.25rem;
}

.details {
  width: 100%;
  padding: 0rem 1rem;
  position: absolute;
  bottom: 1rem;
  display: flex;
  color: var(--white);
  align-items: center;
  justify-content: space-between;
}

.details svg {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.content h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 14px;
  color: #8b8b8b;
}

.content p span {
  font-weight: 500;
  color: var(--black);
}
