.container {
  min-width: 342px;
  color: var(--black);
}

.image_and_featured {
  position: relative;
}

.image_and_featured img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 12px;
}

.featured {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

.featured p {
  padding: 0.25rem 0.75rem;
  font-size: 12px;
  border-radius: 0.25rem;
  background-color: var(--white);
}

.featured img {
  margin-left: 0.5rem;
  color: var(--white);
  width: 24px;
  height: 20px;
}

.content_and_details {
  display: flex;
  gap: 1rem;
}

.content {
  width: 60%;
}

.content h3 {
  font-size: 16px;
}

.content p {
  font-size: 14px;
  color: #8b8b8b;
}

.content p span {
  font-weight: 500;
  color: var(--black);
}

.details {
  width: 40%;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
}

.detail {
  display: flex;
  align-items: center;
}

.details svg {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

@media (min-width: 1024px) {
  .container {
    width: 300px;
  }
}
