.container {
  background-color: #e2e9e8;
}

.content {
  padding: 52px 40px;
  background-color: #d1faca;
}

.title {
  font-size: var(--h2_size);
  font-weight: 600;
  margin-bottom: 24px;
}

.content p:nth-child(2) {
  margin-bottom: 74px;
}

.description {
  font-size: 14px;
}

.container img {
  width: 100%;
  height: auto;
  padding: 25px;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
  }

  .content {
    padding: 132px 76px 72px 76px;
  }

  .content,
  .container img {
    width: 50%;
  }

  .content p:nth-child(2) {
    margin-bottom: 174px;
  }

  .title {
    margin-bottom: 32px;
  }

  .description {
    font-size: 24px;
  }
}
