.container {
  background-color: #e2e9e8;
}

.content,
.time_image {
  padding: var(--section_padding);
}

.content {
  background-color: #d1faca;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 32px;
}

.content p:nth-child(2) {
  margin-bottom: 74px;
}

.description {
  font-size: 24px;
}

.container img {
  width: 100%;
  height: auto;
  padding: var(--section_padding);
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
  }

  .content,
  .container img {
    width: 50%;
  }

  .content p:nth-child(2) {
    margin-bottom: 174px;
  }

  .title {
    font-size: 63px;
  }
}
