.search_field {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0px 0px 6px 1px #bfbfbf;
}

.search_input {
  position: relative;
  margin-bottom: 34px;
  border-bottom: 1px solid var(--border_color);
}

.search_input input[type='text'] {
  width: 100%;
  padding: 16px;
  padding-left: 40px;
  font-size: 14px;
  background-color: var(--white);
}

.gem_icon {
  display: none;
}

.black_search_icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  width: 18px;
  height: 20px;
  translate: 0% -50%;
}

.search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  color: var(--white);
  border-radius: 40px;
  padding: 12px 20px;
  background-color: #016416;
}

.calendar_container {
  position: fixed;
  bottom: -50%;
  z-index: 11;
  transition: all 200ms;
  height: fit-content;
}

.calendar_container.show {
  bottom: 0;
}

@media (min-width: 1024px) {
  .search_field {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: none;
    border-radius: none;
    display: flex;
    gap: 13px;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
  }

  .search_input {
    flex: 1;
    border: none;
    margin-bottom: 0px;
  }

  .search_input input[type='text'] {
    font-size: 18px;
    border-radius: 10px;
    padding: 19px;
  }

  .black_search_icon {
    display: none;
  }

  .search_button {
    padding: 19px 28px;
    border-radius: 10px;
    background-color: var(--black);
  }

  .gem_icon {
    width: 28px;
    height: 28px;
    margin-right: 17px;
  }

  .calendar_container {
    position: absolute;
    max-width: 740px;
    z-index: -1;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }

  .calendar_container.show {
    z-index: 1;
    opacity: 1;
    bottom: -19rem;
  }
}
