.search_field {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 6px 1px #bfbfbf;
}

.search_input {
  position: relative;
  margin-bottom: 34px;
  border-bottom: 1px solid var(--border_color);
}

.search_input input[type='text'] {
  width: 100%;
  padding: 16px;
  padding-left: 40px;
  font-size: 18px;
  background-color: var(--white);
}

.search_input svg {
  position: absolute;
  left: 0.5rem;
  font-size: 1.5rem;
  top: 50%;
  translate: 0% -50%;
}

.search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  color: var(--white);
  border-radius: 40px;
  padding: 12px 20px;
  background-color: #016416;
}

@media (min-width: 1024px) {
  .search_field {
    max-width: 50rem;
    position: relative;
    padding: 0px;
    box-shadow: none;
    border-radius: none;
  }

  .search_input {
    border: none;
  }

  .search_input input[type='text'] {
    border-radius: 40px;
    padding: 1rem 1rem 1rem 3.5rem;
    box-shadow: 0px 0px 6px 1px #bfbfbf;
  }

  .search_input svg {
    left: 1rem;
  }

  .search_button {
    position: absolute;
    right: 6px;
    top: 3.5px;
    background-color: var(--black);
  }
}
