.search_field {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 6px 1px #bfbfbf;
}

.search_input {
  position: relative;
  margin-bottom: 34px;
  border-bottom: 1px solid var(--border_color);
}

.search_input input[type='text'] {
  width: 100%;
  padding: 16px;
  padding-left: 40px;
  font-size: 14px;
  background-color: var(--white);
}

.search_input img {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  width: 18px;
  height: 20px;
  translate: 0% -50%;
}

.search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  color: var(--white);
  border-radius: 40px;
  padding: 12px 20px;
  background-color: #016416;
}

.calendar_container {
  position: fixed;
  bottom: -50%;
  z-index: 11;
  transition: all 200ms;
  height: fit-content;
}

.calendar_container.show {
  bottom: 0;
}

@media (min-width: 1024px) {
  .search_field {
    max-width: 50rem;
    position: relative;
    padding: 0px;
    box-shadow: none;
    border-radius: none;
    margin-bottom: 4px;
  }

  .search_input {
    border: none;
    margin-bottom: 0px;
  }

  .search_input input[type='text'] {
    font-size: 18px;
    border-radius: 40px;
    padding: 1rem 1rem 1rem 3.5rem;
    box-shadow: 0px 0px 6px 1px #bfbfbf;
  }

  .search_input img {
    left: 1rem;
  }

  .search_button {
    position: absolute;
    right: 6px;
    top: 3.5px;
    background-color: var(--black);
  }

  .calendar_container {
    position: absolute;
    max-width: 800px;
    display: none;
  }

  .calendar_container.show {
    display: block;
    bottom: 8.5rem;
  }
}
