.container {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 26px;
}

.vacation,
.rent,
.buy {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--black);
}

.vacation {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--black);
}

.vacation img,
.rent img,
.buy img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.container p {
  font-size: 14px;
  font-weight: 500;
}

.buy,
.rent {
  transition: var(--link_transition);
}

.rent:hover .text,
.buy:hover .text {
  font-weight: var(--link_hover_weight);
}

@media (min-width: 1024px) {
  .container {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 2rem;
  }
}
