.container {
  padding: var(--section_padding);
}

.container h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.content {
  margin-bottom: 1rem;
}

.content p {
  font-size: 24px;
  margin-bottom: 1rem;
}

.service {
  width: 100%;
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--border_color);
}

.title {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.description {
  display: none;
  font-weight: 24px;
}

.show_description {
  display: block;
}

@media (min-width: 1024px) {
  .container h2 {
    font-size: 63px;
  }

  .content_and_services {
    display: flex;
    gap: 3rem;
  }

  .content {
    margin-bottom: 0rem;
  }

  .content,
  .services {
    width: 50%;
  }
}
