.container {
  padding: 3rem;
  margin: 0rem 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/home/worth-sharing.jpg');
}

.container h2 {
  font-size: 60px;
  font-weight: 600;
  color: var(--white);
}

.container p {
  margin-bottom: 1.5rem;
  color: var(--white);
}

.services_button {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  color: var(--white);
  background-color: var(--black);
}

.services_button svg {
  margin-left: 1rem;
  font-size: 1.25rem;
}
