.container {
  padding: 0px 25px;
  margin-bottom: 60px;
}

.logo {
  display: none;
}

.mobile_header {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
}

.desktop_header {
  display: none;
}

.container form {
  display: grid;
  gap: 21px;
  margin-bottom: 14px;
}

.container form input,
.container form button {
  height: 60px;
  font-size: 14px;
  font-weight: 500;
}

.container form input {
  padding: 0px 20px;
  border: 1px solid #b0b0b0;
}

.container form button {
  cursor: pointer;
  color: var(--white);
  border-radius: 2rem;
  background-color: var(--black);
}

.sign_in {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.sign_in a {
  color: #003a47;
}

.divider {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}

.divider span {
  display: block;
  height: 1px;
  width: 137px;
  background-color: rgba(0, 0, 0, 0.2);
}

.divider p {
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.o_auth {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--black);
}

.o_auth img {
  width: 25px;
  margin-right: 20px;
}

.o_auth p {
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .container {
    width: 40%;
    padding: 45px;
  }

  .logo {
    display: block;
    width: 36px;
    margin-bottom: 60px;
  }

  .desktop_header {
    display: block;
    font-size: 37px;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 40px;
  }

  .mobile_header {
    display: none;
  }

  .container form input,
  .container form button {
    height: 50px;
  }

  .container form button {
    border-radius: 0px;
  }

  .o_auth {
    padding: 15px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0px 94px;
    padding-top: 45px;
  }

  .logo {
    margin-bottom: 80px;
  }

  .desktop_header {
    margin-bottom: 60px;
  }
}
