.container {
  position: relative;
  margin-bottom: 20px;
}

.background_mobile {
  position: absolute;
  z-index: -1;
  height: 257px;
  width: 100%;
}

.background_desktop {
  display: none;
}

.content {
  padding: 0px 14px;
  padding-top: 42px;
  padding-bottom: 25px;
}

.content h1 {
  width: 370px;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 9px;
  font-family: var(--pp_mori);
}

.content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 16px;
}

.promo_mobile {
  width: 131px;
  height: 67px;
}

.promo_desktop {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
  }

  .background_desktop {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .background_mobile {
    display: none;
  }

  .content {
    width: 550px;
    margin-top: 200px;
    position: relative;
    padding-left: 40px;
  }

  .content h1 {
    width: 100%;
    font-size: 40px;
    color: var(--white);
    margin-bottom: 10px;
  }

  .container p {
    width: 365px;
    color: var(--white);
    font-size: 18px;
    line-height: 19px;
  }

  .promo_desktop {
    display: block;
    width: 140px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .promo_mobile {
    display: none;
  }
}

@media (min-width: 1440px) {
  .content {
    width: 810px;
    margin-top: 244px;
    padding-left: 65px;
  }

  .content h1 {
    font-size: 66px;
  }

  .container p {
    width: 465px;
  }

  .promo_desktop {
    width: 185px;
  }
}
