.container {
  position: relative;
  margin-bottom: 20px;
}

.background_image {
  position: absolute;
  z-index: -1;
  height: 257px;
  width: 100%;
}

.content {
  padding: 0px 14px;
  padding-top: 42px;
  padding-bottom: 25px;
}

.content h1 {
  width: 370px;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 9px;
  font-family: var(--pp_mori);
}

.content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 16px;
}

.content img {
  width: 131px;
  height: 67px;
}
