:root {
  --gray: #666666;
  --black: #000000;
  --white: #ffffff;
  --green: #008858;
  --almost_white: #fafafa;
  --border_color: #eaeaea;
  --max_viewport_width: 1256px;
  --shadow_medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow_large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  max-width: var(--max_viewport_width);
}

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
}

h1,
h2 {
  line-height: 1.5em;
}

p,
a,
li,
blockquote {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
textarea {
  border: none;
  border-radius: 0px;
  font-family: inherit;
}

textarea {
  resize: none;
}
