@font-face {
  font-family: 'PP Mori';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(''), url('/fonts/PPMori-Regular.otf') format('otf');
}

@font-face {
  font-family: 'PP Mori';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local(''), url('/fonts/PPMori-SemiBold.otf') format('otf');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local(''), url('/fonts/Gilroy-Light.otf') format('otf');
}

:root {
  --black: #000000;
  --white: #ffffff;
  --green: #008858;
  --border_color: #e6e6e6;
  --section_padding: 48px 32px;
  --max_viewport_width: 1256px;
  --shadow_medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow_large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  max-width: var(--max_viewport_width);
}

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
  font-family: 'PP Mori', sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  border: none;
  border-radius: 0px;
  font-family: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.react-calendar {
  width: 100% !important;
  border-radius: 8px;
  border: none !important;
  font-family: 'PP Mori', sans-serif !important;
}

.react-calendar__tile--active {
  background-color: var(--black) !important;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__label__labelText {
  font-size: 1rem;
  font-weight: 600;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: underline solid;
}

@media (min-width: 1024px) {
  :root {
    --section_padding: 72px 48px;
  }
}
