@font-face {
  font-family: 'PP Mori';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('/layout/fonts/PPMori-Regular.otf') format('otf');
}
@font-face {
  font-family: 'PP Mori';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url('/layout/fonts/PPMori-SemiBold.otf') format('otf');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: fallback;
  src: url('/layout/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: fallback;
  src: url('/layout/fonts/Manrope-VariableFont_wght.ttf') format('ttf');
}

:root {
  --h2_size: 24px;
  --black: #000000;
  --white: #ffffff;
  --green: #008858;
  --disabled_bg: #d1d1d1;
  --border_color: #e6e6e6;
  --section_padding: 48px 32px;
  --max_viewport_width: 1920px;
  --inter: 'Inter', sans-serif;
  --pp_mori: 'PP Mori', sans-serif;
  --manrope: 'Manrope', sans-serif;
  --shadow_medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow_large: 0 30px 60px rgba(0, 0, 0, 0.12);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin: 0 auto;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  max-width: var(--max_viewport_width);
}

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
  font-family: var(--inter);
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

input,
select,
button,
textarea {
  border: none;
  border-radius: 0px;
  font-family: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.react-calendar {
  width: 100% !important;
  border-radius: 10px;
  border: none !important;
  font-family: var(--pp_mori) !important;
}

.react-calendar__tile,
.react-calendar__month-view__days__day--weekend {
  color: var(--black) !important;
}

.react-calendar__tile--now {
  background: transparent !important;
}

.react-calendar__tile--active {
  color: var(--white) !important;
  background-color: var(--black) !important;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__label__labelText {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-weight: 500;
  text-decoration: none;
}

@media (min-width: 1024px) {
  :root {
    --h2_size: 63px;
    --section_padding: 72px 48px;
  }
}
