.container {
  padding: var(--section_padding);
  padding-top: 0px;
}

.title {
  display: none;
}

.reservation_details {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--border_color);
}

.reservation_details_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 22px;
}

.reservation_details_dates_title,
.reservation_details_guests_title,
.reservation_details_dates,
.reservation_details_guests {
  font-size: 18px;
}

.reservation_details_dates_title,
.reservation_details_guests_title {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservation_details_dates,
.reservation_details_guests {
  color: #666666;
}

.reservation_details_dates {
  margin-bottom: 20px;
}

.reservation_details_guests_controller {
  display: flex;
  align-items: center;
}

.reservation_details_guests_controller p {
  margin: 0px 12px;
}

.reservation_details_guests_controller span {
  cursor: pointer;
}

.guest_and_payment_details {
  margin-bottom: 44px;
}

.guest_details,
.payment_details {
  padding: 32px 0px;
}

.guest_details {
  border-bottom: 1px solid var(--border_color);
}

.guest_details_title,
.payment_details_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.item {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  margin-bottom: 1rem;
}

.item label,
.agreement label {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.item input,
.payment_input {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--border_color);
}

.cvv_and_expiration {
  display: flex;
  gap: 1rem;
}

.payment_input {
  height: 52px;
}

.agreement {
  display: flex;
  align-items: flex-start;
  padding-top: 26px;
  padding-bottom: 20px;
}

.agreement input {
  margin-right: 1rem;
  margin-top: 0.5rem;
  -ms-transform: scale(1.75);
  -moz-transform: scale(1.75);
  -webkit-transform: scale(1.75);
  -o-transform: scale(1.75);
  transform: scale(1.75);
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 5rem;
    padding-top: 48px;
    flex-direction: row-reverse;
  }

  .booking_guest_and_payment {
    width: 65%;
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 48px;
  }

  .title svg {
    margin-right: 8px;
  }

  .reservation_details_title {
    font-weight: 400;
    margin-bottom: 18px;
  }

  .guest_details,
  .payment_details {
    padding: 44px 0px;
  }

  .guest_details_title,
  .payment_details_title {
    font-size: 30px;
  }
}
