.property_header_and_price {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 34px;
  border: 1px solid var(--border_color);
}

.property_header {
  display: flex;
  gap: 1rem;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border_color);
}

.property_header img {
  width: 8rem;
  height: auto;
  border-radius: 20px;
}

.property_name_and_bedrooms p:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.property_name_and_bedrooms p:nth-child(2) {
  font-size: 18px;
  color: #666666;
}

.price_details {
  padding: 24px 0px;
}

.price_details_title {
  font-size: 24px;
}

.cancellation_policy,
.house_rules {
  margin-bottom: 33px;
  padding-bottom: 33px;
  border-bottom: 1px solid var(--border_color);
}

.cancellation_policy_title,
.house_rules_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 11px;
}

.cancellation_policy_item {
  font-size: 18px;
  color: #666666;
  margin-bottom: 15px;
}

.cancellation_policy_item strong {
  color: var(--black);
}

.house_rules_item {
  display: flex;
  align-items: center;
  padding: 16px 0px;
}

.house_rules_item img {
  width: 24px;
  margin-right: 12px;
}

@media (min-width: 1024px) {
  .property_header_and_price {
    margin-bottom: 104px;
  }

  .cancellation_policy,
  .house_rules {
    border-bottom: none;
  }

  .cancellation_policy_title,
  .house_rules_title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .cancellation_policy_item {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
