.header_and_price {
  margin: 0px 13px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--border_color);
}

.header {
  display: flex;
  gap: 1rem;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border_color);
}

.header img {
  width: 8rem;
  height: auto;
  border-radius: 20px;
}

.name_and_bedrooms p:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.name_and_bedrooms p:nth-child(2) {
  font-size: 18px;
  color: #666666;
}

.price_details {
  padding: 24px 0px;
}

.price_details_title {
  font-size: 24px;
}

.cancellation_policy {
  padding: 33px 0px;
  margin: 0px 15px;
  border-bottom: 1px solid var(--border_color);
}

.cancellation_policy_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 11px;
}

.cancellation_policy_item {
  font-size: 18px;
  color: #666666;
  margin-bottom: 15px;
}

.cancellation_policy_item strong {
  color: var(--black);
}

@media (min-width: 1024px) {
  .container {
    width: 45%;
  }

  .header_and_price {
    margin-bottom: 104px;
  }

  .cancellation_policy {
    border-bottom: none;
  }

  .cancellation_policy_title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .cancellation_policy_item {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
