.container {
  display: grid;
  gap: 21px;
  padding: 0px 30px;
  margin-bottom: 77px;
}

.agent {
  color: var(--black);
}

.agent img {
  width: 100%;
  height: 382px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 14px;
}

.name {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 14px;
}

.email,
.phone {
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .container {
    gap: 50px 18px;
    padding: 0px 21px;
    margin-bottom: 69px;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  }

  .name {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .email,
  .phone {
    font-size: 14px;
    font-weight: 500;
  }
}
