.container {
  padding: 2rem 4rem;
}

.container h1 {
  font-size: 2.75rem;
  margin-bottom: 1rem;
}

.content {
  margin-bottom: 1rem;
}

.content h2,
.content h3,
.content h4 {
  margin-bottom: 0.5rem;
}

.content strong {
  font-weight: 600;
}

.content ul {
  margin-left: 2rem;
}
