.container {
  color: var(--black);
  padding: var(--section_padding);
}

.content_and_reservation {
  display: flex;
  flex-direction: column;
}

.content h1,
.offerings h2,
.description h2 {
  font-size: 24px;
  font-weight: 600;
}

.title {
  margin-bottom: 24px;
}

.offerings {
  padding: 27px 0px;
  border-top: 1px solid var(--border_color);
  border-bottom: 1px solid var(--border_color);
}

.description {
  font-size: 16px;
  padding: 32px 0px;
}

.description h2,
.description h3,
.description h4 {
  margin-bottom: 0.5rem;
}

.description strong {
  font-weight: 600;
}

.description ul {
  margin-left: 2rem;
}

@media (min-width: 1024px) {
  .content_and_reservation {
    gap: 2rem;
    flex-direction: row;
  }
}
