.container {
  color: var(--black);
  padding: 2rem 4rem;
}

.content_and_reservation {
  display: flex;
  gap: 2rem;
}

.content h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.offerings {
  padding: 1rem 0rem;
  border-top: 1px solid var(--border_color);
  border-bottom: 1px solid var(--border_color);
}

.offerings h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.description {
  padding: 1rem 0rem;
}

.description h2,
.description h3,
.description h4 {
  margin-bottom: 0.5rem;
}

.description strong {
  font-weight: 600;
}

.description ul {
  margin-left: 2rem;
}
