.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0rem;
  padding: 1rem;
  border-radius: 10px;
  height: fit-content;
  min-width: 100%;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 13px 0px var(--border_color);
}

.price {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 24px;
}

.price span {
  font-size: 14px;
  font-weight: 400;
}

.dates {
  width: 100%;
}

.calendar {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 0.5rem;
  border: 1px solid var(--border_color);
}

.calendar_button {
  border: none;
  margin: 6px;
  font-size: 16px;
  color: var(--white);
  padding: 10px 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--black);
  font-family: 'PP Mori', sans-serif;
}

.guests {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 27px 0px;
}

.guests label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.guests input,
.dates input {
  width: 100%;
  display: inline-block;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid var(--border_color);
}

@media (min-width: 1024px) {
  .container {
    min-width: 375px;
  }
}
