.container {
  padding: 32px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

.item {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border_color);
}

.item:last-child {
  border: none;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 36px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation a {
  color: var(--black);
  font-size: 24px;
  padding: 16px 0px;
  transition: var(--link_transition);
}

.navigation a:hover {
  font-weight: var(--link_hover_weight);
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr auto;
  }

  .item {
    border: none;
  }

  .title {
    font-size: 26px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--black);
  }
}
