.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 11px;
  margin-top: 28px;
  margin-bottom: 54px;
}

.container p:nth-child(1) {
  color: #074d43;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 4px;
}

.container h1 {
  font-size: 38px;
  line-height: 34px;
  font-weight: 500;
  margin-bottom: 8px;
}

.container p:nth-child(3) {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 20px;
  width: 233px;
}

.subscribe {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.input_agreement {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.input_agreement input {
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid var(--black);
}

.agreement {
  display: flex;
  gap: 8px;
}

.agreement label {
  font-size: 12px;
  line-height: 28px;
  font-weight: 500;
}

.subscribe button {
  display: flex;
  gap: 11px;
  align-items: center;
  color: var(--white);
  padding: 13px 34px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2rem;
  width: 164px;
  align-self: center;
  background-color: var(--black);
}

.subscribe button img {
  width: 24px;
  height: auto;
}

@media (min-width: 1024px) {
  .container {
    width: 705px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 65px;
  }

  .container p:nth-child(1) {
    font-weight: 600;
    margin-bottom: 15px;
  }

  .container h1 {
    font-size: 66px;
    line-height: 60px;
  }

  .container p:nth-child(3) {
    line-height: 28px;
    margin-bottom: 32px;
    width: fit-content;
  }

  .subscribe {
    gap: 35px;
    flex-direction: row;
  }

  .subscribe button {
    padding: 8px 27px;
    align-self: flex-start;
  }
}
