@media (min-width: 1024px) {
  .container {
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(2, 1fr);
  }

  .articles {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
}
