.container {
  display: grid;
  gap: 54px;
}

.articles {
  display: flex;
  gap: 34px;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .container {
    gap: 23px;
    grid-template-columns: repeat(2, 1fr);
  }

  .articles {
    gap: 24px;
  }
}
