.container {
  padding: 0px 23px;
  margin-bottom: 34px;
}

.container h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .container {
    padding: 0px 42px;
    margin-bottom: 87px;
  }

  .container h2 {
    font-size: 47px;
    margin-bottom: 45px;
  }
}
