.container {
  height: 245px;
  position: relative;
  margin-bottom: 20px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.content {
  padding: 0px 14px;
  padding-top: 42px;
  padding-bottom: 25px;
}

.content h1 {
  width: 370px;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 9px;
  font-family: var(--pp_mori);
}

.content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 16px;
}

.promotion {
  width: 131px;
  height: auto;
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
    height: 100%;
  }

  .background {
    object-position: left;
  }

  .content {
    color: var(--black);
    width: 550px;
    margin-top: 200px;
    position: relative;
    padding-left: 40px;
  }

  .content h1 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .container p {
    width: 365px;
    font-size: 18px;
    line-height: 19px;
  }

  .promo {
    width: 140px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 1440px) {
  .content {
    width: 810px;
    margin-top: 244px;
    padding-left: 65px;
  }

  .content h1 {
    font-size: 66px;
  }

  .container p {
    width: 465px;
  }

  .promo {
    width: 185px;
  }
}
