.input_options p {
  font-size: 21px;
  margin-bottom: 12px;
}

.input_options p span {
  color: red;
}

.options {
  display: flex;
  align-items: center;
}

.option:first-child {
  margin-right: 2rem;
}

.option input:first-child {
  margin-right: 0.75rem;
}

.option label {
  cursor: pointer;
  font-size: 21px;
}
