.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 150px;
  color: #394b33;
  font-size: 14px;
  padding: 18px 27px;
  font-weight: 500;
  background-color: #d4e587;
}

.container img {
  width: 16px;
  height: auto;
  margin-left: 1rem;
  animation: animate 1s linear infinite alternate;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@media (min-width: 1024px) {
  .container {
    width: 270px;
    font-size: 16px;
  }

  .container img {
    width: 24px;
  }
}
