.container {
  padding: 0px 22px;
  margin-bottom: 44px;
}

.agent_image {
  width: 100%;
  height: 382px;
  object-fit: cover;
  border-radius: 23px;
  margin-bottom: 23px;
}

.cta {
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qr_code {
  width: 83px;
  height: 83px;
}

.content h1 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 4px;
}

.address {
  font-size: 500;
  font-size: 19.5px;
  margin-bottom: 14px;
}

.email,
.phone {
  font-size: 18px;
}

.phone {
  margin-bottom: 11px;
}

.about {
  font-size: 14px;
  line-height: 29px;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 71px;
    margin-bottom: 83px;
    padding: 50px 50px 0px 50px;
  }

  .media {
    width: 461px;
  }

  .agent_image {
    border-radius: 27px;
    margin-bottom: 35px;
  }

  .cta {
    align-items: flex-start;
  }

  .qr_code {
    width: 100px;
    height: auto;
  }

  .content {
    flex: 1;
  }

  .content h1 {
    margin-bottom: 0px;
  }

  .address {
    font-weight: 600;
  }
}
