.container {
  padding: 0px 34px;
}

.container h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 44px;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container thead tr {
  background-color: #f8fcf8;
}

.container thead th {
  padding: 8px 16px;
  font-size: 19px;
  font-weight: 500;
  text-align: left;
}

.container thead th:last-child {
  text-align: right;
}

.container tbody td {
  padding: 16px;
  border-bottom: 1px solid var(--border_color);
}

.container tbody td:last-child {
  text-align: right;
  color: #d76767;
  font-weight: 500;
  text-transform: capitalize;
}

.container tbody tr:hover {
  background-color: #f7f5f2;
}

@media (min-width: 1024px) {
  .container {
    padding: 0px 52px;
    margin-bottom: 84px;
  }

  .container h2 {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .container tbody td:last-child {
    color: var(--black);
    font-weight: 400;
  }
}
