.container {
  width: 100%;
}

.container p {
  line-height: 32px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container p {
  margin-bottom: 8px;
}

.container p span {
  font-weight: 500;
}

.total {
  padding-top: 21px;
  border-top: 1px solid var(--border_color);
}
