.container {
  padding-top: 0px;
  line-height: 32px;
}

.content_and_reservation {
  display: flex;
  flex-direction: column-reverse;
}

.content {
  padding: 0px 19px;
  padding-bottom: 19px;
}

.content h1,
.property_offerings h2,
.description h2 {
  font-size: 24px;
  font-weight: 600;
}

.content h1 {
  margin-bottom: 27px;
}

.property_offerings {
  padding-top: 32px;
  padding-bottom: 43px;
  border-top: 1px solid var(--border_color);
  border-bottom: 1px solid var(--border_color);
}

.property_offerings h2 {
  margin-bottom: 34px;
}

.offerings {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr;
}

.offering {
  display: flex;
  font-weight: 600;
  align-items: center;
}

.offering img {
  width: 24px;
  margin-right: 8px;
}

.description {
  font-size: 16px;
  padding: 32px 0px;
}

.description h2,
.description h3,
.description h4 {
  margin-bottom: 0.5rem;
}

.description strong {
  font-weight: 600;
}

.description ul {
  margin-left: 2rem;
}

@media (min-width: 1024px) {
  .container {
    padding: 32px 48px;
  }

  .content h1 {
    margin-bottom: 25px;
  }

  .content_and_reservation {
    gap: 2rem;
    flex-direction: row;
  }

  .property_offerings {
    padding-top: 27px;
    padding-bottom: 71px;
  }

  .offerings {
    grid-template-columns: repeat(2, 1fr);
  }
}
