.container {
  padding: 0px 13px;
  display: grid;
  gap: 24px;
  margin-top: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    height: fit-content;
  }

  .multiple_columns {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
