.container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: var(--section_padding);
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
