.container {
  display: none;
  margin-top: 20px;
}

.show_filters {
  display: flex;
  flex-direction: column;
}

.title,
.price_title {
  font-size: 24px;
  font-weight: 600;
}

.title {
  margin-bottom: 32px;
}

.items,
.price {
  margin-bottom: 56px;
}

.item {
  margin-bottom: 16px;
}

.item:last-child {
  margin-bottom: 0px;
}

.item label {
  margin-bottom: 8px;
  display: inline-block;
}

.item input {
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  border: 1px solid var(--border_color);
}

.price_title {
  margin-bottom: 8px;
}

.price_min_max {
  font-size: 18px;
  margin-bottom: 24px;
}

.slider {
  height: 4px;
  position: relative;
  border-radius: 2px;
  background: rgb(234, 236, 240);
}

.progress {
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: var(--black);
  left: var(--progress_left);
  right: var(--progress_right);
}

.range {
  position: relative;
}

.range input {
  position: absolute;
  width: 100%;
  height: 4px;
  top: -4px;
  cursor: grab;
  background: none;
  pointer-events: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.range input[type='range']::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: white;
  pointer-events: auto;
  -webkit-appearance: none;
  border: 4px solid var(--black);
}

.range input[type='range']::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: white;
  pointer-events: auto;
  -moz-appearance: none;
  border: 4px solid var(--black);
}

.offerings {
  margin-bottom: 24px;
}

.offering {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.offering input {
  margin-right: 16px;
}

.offering img {
  width: 24px;
  margin-right: 8px;
}

.apply_button {
  border: none;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  color: var(--white);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: var(--black);
  font-family: 'PP Mori', sans-serif;
}

@media (min-width: 1024px) {
  .container {
    width: 18rem;
    display: flex;
    flex-direction: column;
  }

  .items {
    margin-bottom: 102px;
  }
}
