.container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 18px;
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.main_image {
  display: flex;
  position: relative;
}

.image_count {
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0px 10px;
  border-radius: 10px;
  color: var(--white);
  position: absolute;
  background-color: #00000072;
}

.other_images {
  display: none;
}

.main_image img,
.other_images img {
  cursor: pointer;
}

.expanded_image_container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}

.expanded_image {
  display: flex;
  max-width: 85%;
  position: relative;
  justify-content: center;
}

.close_button,
.prev_button,
.next_button {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 30px;
  cursor: pointer;
  color: var(--white);
}

.prev_button,
.next_button {
  top: 50%;
  translate: 0% -50%;
  color: var(--white);
}

.prev_button {
  left: 0rem;
}

.next_button {
  right: 0rem;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
  }

  .main_image,
  .other_images {
    width: 50%;
  }

  .image_count {
    display: none;
  }

  .prev_button {
    left: 0.5rem;
  }

  .next_button {
    right: 0.5rem;
  }

  .other_images {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
