.container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 2rem;
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.main_image img,
.other_images img {
  cursor: pointer;
}

.other_images {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.expanded_image_container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}

.expanded_image {
  display: flex;
  max-width: 85%;
  position: relative;
  justify-content: center;
}

.close_button {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 30px;
  cursor: pointer;
  color: var(--white);
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .main_image,
  .other_images {
    width: 50%;
  }
}
