.container {
  padding: 32px;
  line-height: 32px;
  font-family: 'PP Mori', sans-serif;
}

.content_and_reservation {
  display: flex;
  flex-direction: column-reverse;
}

.content h1,
.property_offerings h2,
.description h2 {
  font-size: 24px;
  font-weight: 600;
}

.title {
  margin-bottom: 24px;
}

.property_offerings {
  padding: 27px 0px;
  border-top: 1px solid var(--border_color);
  border-bottom: 1px solid var(--border_color);
}

.offerings {
  margin-top: 20px;
}

.offering {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.offering img {
  width: 24px;
  margin-right: 8px;
}

.description {
  font-size: 16px;
  padding: 32px 0px;
}

.description h2,
.description h3,
.description h4 {
  margin-bottom: 0.5rem;
}

.description strong {
  font-weight: 600;
}

.description ul {
  margin-left: 2rem;
}

@media (min-width: 1024px) {
  .container {
    padding: 32px 48px;
  }

  .content_and_reservation {
    gap: 2rem;
    flex-direction: row;
  }
}
