.container {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--border_color);
}

.content {
  margin-bottom: 1rem;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.featured {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: flex;
  align-items: center;
}

.featured p {
  padding: 0.25rem 0.75rem;
  font-size: 12px;
  border-radius: 0.25rem;
  background-color: var(--white);
}

.featured svg {
  margin-left: 0.5rem;
  color: var(--white);
  font-size: 1.25rem;
}

.name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.offering_icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.offering_icons img {
  width: 24px;
  height: 24px;
}

.price {
  font-size: 20px;
  color: #717171;
  margin-bottom: 24px;
}

.price strong {
  color: var(--black);
}

.price_and_button a {
  display: block;
  color: var(--white);
  text-align: center;
  font-size: 22px;
  padding: 22px;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--black);
}

@media (min-width: 1024px) {
  .multiple_columns {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .multiple_columns .content {
    display: flex;
    gap: 20px;
    width: 70%;
    margin: 0px;
  }

  .multiple_columns .image img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
  }

  .multiple_columns .name {
    margin-bottom: 38px;
  }

  .price_and_button {
    display: flex;
    flex-direction: column;
  }

  .price_and_button a {
    font-size: 19px;
    padding: 17px 0px;
    width: 170px;
    align-self: flex-end;
  }
}

@media (min-width: 1440px) {
  .multiple_columns .content {
    gap: 32px;
  }
}
