.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container img {
  width: 24px;
  height: auto;
  margin-left: 18px;
}

.view,
.sort,
.filter {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.sort {
  display: none;
}

.filter {
  padding: 0.75rem;
  border-radius: 10px;
  border: 2px solid var(--border_color);
}

@media (min-width: 1024px) {
  .filter {
    display: none;
  }

  .sort {
    display: flex;
  }
}
